<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.ChargingOrderMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.ChargingOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="electric_quantity" jdbcType="DOUBLE" property="electricQuantity" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="cprice" jdbcType="DOUBLE" property="cprice" />
    <result column="sprice" jdbcType="DOUBLE" property="sprice" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="balance" jdbcType="DOUBLE" property="balance" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="model" jdbcType="INTEGER" property="model" />
    <result column="otime" jdbcType="TIMESTAMP" property="otime" />
    <result column="set_value" jdbcType="BIGINT" property="setValue" />
    <result column="parking_fee" jdbcType="INTEGER" property="parkingFee" />
    <result column="cz" jdbcType="DOUBLE" property="cz" />
    <result column="hd" jdbcType="INTEGER" property="hd" />
    <result column="cz_cprice" jdbcType="DOUBLE" property="czCprice" />
    <result column="cz_sprice" jdbcType="DOUBLE" property="czSprice" />
    <result column="cz_pprice" jdbcType="INTEGER" property="czPprice" />
    <result column="discount" jdbcType="INTEGER" property="discount" />
    <result column="hd_balance" jdbcType="INTEGER" property="hdBalance" />
    <result column="djhm" jdbcType="VARCHAR" property="djhm" />
  </resultMap>
</mapper>